@import 'tailwindcss';

@theme {
  --color-sky-600: #0284c7;
  --color-gray-500: #525252;
  --color-neutral-900: #171717;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #ffffff;
}

body {
  overflow: hidden;
}
